In [1]:
#!pip install -r ../requirements.txt

In [1]:
# Cell 2
import warnings
warnings.filterwarnings('ignore')

import pandas_plink as pp
import statsmodels.api as sm
import matplotlib.pyplot as plt
import subprocess
import pandas as pd
import numpy as np
from functools import reduce
from sklearn.metrics import r2_score
import random
import os
import tarfile
import gzip
from extract_data import extract_data
#extract_data()
from tools import *


%load_ext autoreload
%autoreload 2

In [2]:
!bcftools-install/bin/bcftools --version

bcftools 1.21
Using htslib 1.21
Copyright (C) 2024 Genome Research Ltd.
License Expat: The MIT/Expat license
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

In [3]:
genome_data = pd.read_table('../data/genome_Tiffany_AmariutaBartell_v5_Full_20230928160859_reformatted.txt')
#genome_data.to_csv('../data/genome_Tiffany_AmariutaBartell_v5_Full_20230928160859_reformatted.txt', sep='\t', index=False)
#genome_data[['CHROM','POS','ID','AA']].to_csv('../data/genome_Tiffany_AmariutaBartell_v5_Full_20230928160859_reformatted_temp.txt', sep='\t', index=False)

In [4]:
'''
TSV conversion:
--tsv2vcf FILE
-c, --columns STRING           Columns of the input tsv file, see man page for details [ID,CHROM,POS,AA]
-f, --fasta-ref FILE           Reference sequence in fasta format
-s, --samples LIST             List of sample names
-S, --samples-file FILE        File of sample names
'''

'\nTSV conversion:\n--tsv2vcf FILE\n-c, --columns STRING           Columns of the input tsv file, see man page for details [ID,CHROM,POS,AA]\n-f, --fasta-ref FILE           Reference sequence in fasta format\n-s, --samples LIST             List of sample names\n-S, --samples-file FILE        File of sample names\n'

In [5]:
#!gzip ../data/genome_Tiffany_AmariutaBartell_v5_Full_20230928160859_reformatted.txt
#!gzip -d ../data/genome_Tiffany_AmariutaBartell_v5_Full_20230928160859_reformatted.txt.gz

In [6]:
personal = pd.read_table('../data/genome_Tiffany_AmariutaBartell_v5_Full_20230928160859_reformatted.txt')
personal['CHROM'] = personal['CHROM'].apply(lambda x: f'chr{x}')


personal.to_csv('../data/genome_Tiffany_AmariutaBartell_v5_Full_20230928160859_reformatted_no_header.txt', index=False, sep='\t')

In [27]:
pd.read_table('../data/genome_Tiffany_AmariutaBartell_v5_Full_20230928160859_reformatted_no_header.txt')

                #ID  CHROM     POS  AA
0       rs548049170   chr1   69869  TT
1         rs9326622   chr1  567092  CC
2       rs116587930   chr1  727841  GG
3         rs3131972   chr1  752721  GG
4        rs12184325   chr1  754105  CC
...             ...    ...     ...  ..
643530      i704756  chrMT   16524   A
643531      i705255  chrMT   16525   A
643532     i4000757  chrMT   16526   G
643533      i701671  chrMT   16526   G
643534      i745490  chrMT   16545   T

[643535 rows x 4 columns]

In [13]:
def to_vcf(input_fp, output_fp):
    bcf_cmd = f'bcftools-install/bin/bcftools convert -c ID,CHROM,POS,AA,- -s sample1 -f ../data/Homo_sapiens.GRCh38.dna.primary_assembly.fa --tsv2vcf {input_fp} -o {output_fp}'
    os.system(bcf_cmd)
# rsid	chromosome	position	genotype
to_vcf('../data/genome_Tiffany_AmariutaBartell_v5_Full_20230928160859_reformatted.txt', '../data/genome_Tiffany_AmariutaBartell_v5_Full_20230928160859_reformatted.vcf')

Rows total: 	643536
Rows skipped: 	5172
Sites written: 	638364
Missing GTs: 	13451
Hom RR: 	133174
Het RA: 	52413
Hom AA: 	387468
Het AA: 	51858